html,
body {
  margin: 0;
  padding: 0;
  font-size: 2em;
  background: #ffad33;
}

.container {
  margin-top: 1em;
}

.emojis,
.buttons {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-hide {
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px 15px;
  box-shadow: 3px 3px 10px -4px #000;
  border: none;
}

.emoji-container {
  min-width: 1em;
}

#emojis {
  display: none;
}
